.wip-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #292929;
}
.wip-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.wip-navlink {
  font-size: 24px;
  text-decoration: none;
}
.wip-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.wip-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.wip-navlink1 {
  text-decoration: none;
}
.wip-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.wip-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.wip-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.wip-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.wip-burger-menu {
  display: none;
}
.wip-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.wip-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.wip-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wip-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.wip-logo {
  height: 2rem;
}
.wip-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wip-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.wip-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.wip-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.wip-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.wip-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.wip-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.wip-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.wip-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.wip-login {
  margin-right: var(--dl-space-space-twounits);
}
.wip-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.wip-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.wip-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.wip-container1 {
  height: auto;
}
.wip-text07 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.wip-container2 {
  height: auto;
}
.wip-text09 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .wip-navlink {
    font-size: 24px;
  }
}
@media(max-width: 767px) {
  .wip-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .wip-desktop-menu {
    display: none;
  }
  .wip-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wip-icon {
    fill: #fc3;
  }
  .wip-text02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .wip-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .wip-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .wip-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .wip-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .wip-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .wip-mobile-menu {
    padding: 16px;
  }
}
